services:
  app: 
    container_name: ea-worker
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:6000"
    depends_on:
      - mongo
      - rabbitmq
      - mqtt
    networks:
      - earthquake_network
    volumes:
      - .:/app
    environment:
      RABBITMQ_URL: "amqp://rabbit:rabbit@rabbitmq:5672/"
      MQTT_BROKER_URL: "mqtt://mqtt:1883"
      MONGO_USERNAME: root
      MONGO_PASSWORD: root
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: earthquake_db
      MONGO_URL: "mongodb://root:root@mongo:27017/earthquake_db"
      MONGODB_URI: "mongodb://root:root@mongo:27017/earthquake_db?authSource=admin"
      MONGO_CLOUD_URL: "mongodb+srv://admin:iamshuvo123@earthquake.a0xu3p0.mongodb.net/?retryWrites=true&w=majority"

  mongo:  
    container_name: ea-mongodb
    image: "mongo:7.0.2"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - earthquake_network
    volumes:
      - ./mongo_data:/data/db

  rabbitmq:
    container_name: ea-rabbitmq
    image: "rabbitmq:3.11.10-management"
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: rabbit
    networks:
      - earthquake_network
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq

  mqtt:
    container_name: ea-mqtt
    image: "eclipse-mosquitto:2.0"
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - earthquake_network
    volumes:
      - ./mqtt_data:/mosquitto/data
      - ./mqtt_logs:/mosquitto/log
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

networks:
  earthquake_network:
    external: true
